@import url("./tokens.css");

/* Base */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');
@import url('./base/animations.css');

/* Layout */
@import url('./layout/body.css');
@import url('./layout/main.css');
@import url('./layout/grid.css');
@import url('./layout/sections.css');

/* Components */
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/tags.css');
@import url('./components/timeline.css');
@import url('./components/marquee.css');
@import url('./components/stats.css');

/* Pages */
@import url('./pages/home.css');